@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background-color: #757575;
  font-family: 'Roboto', sans-serif;
}

.larger-box {
  background-color: black;
  height: 50vh;
  width:  100%;
  margin-bottom: 2vh;
}

.smaller-box {
  background-color: white;
  height: 20vh;
  margin-bottom: 2vh;
  width: 100%;
}

@media screen and (min-width: 601px) and (max-width: 992px) {
  .smaller-box {
    height: 45vh;
  }
}

@media screen and (min-width: 993px) {
  .smaller-box {
    height: 50vh;
    width: 30vh;
  }

}
