@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background-color: #757575;
  font-family: 'Roboto', sans-serif;
}

.larger-box {
  background-color: black;
  height: 50vh;
}

.smaller-box {
  background-color: white;
  height: 25vh;
}

.s12 #box1 {
  height: 25vh;
}
